@import "../../stylesVar.scss";

.FullpgMovie {
  color: #fff;
  width: 100vw;
  height: 100vh;
  @include flexAlignCentre;

  .backImg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    top: 0;
    right: 0;
    .grad {
      width: 100vw;
      height: 100vh;
      background: linear-gradient(
        90deg,
        #000000,
        rgba(0, 0, 0, 0.62),
        rgba(0, 0, 0, 0)
      );
      position: absolute;
    }
    img {
      height: 100vh;
      position: absolute;
      z-index: -1;
      right: 0;
    }
  }
  .FPMabout {
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding: 20px;
    backdrop-filter: blur(8px);
    border-radius: 40px 0 0 0;
    span {
      padding: 16px;
      font-size: 16px;
    }
  }
  .FPMhead {
    padding: 24px;
    width: 50%;

    // height: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    h1 {
      @include gradiantText;
      font-size: 4rem;
      padding: 8px 0;
    }
    h3 {
      padding: 8px 0;
    }
    p {
      font-size: 16px;
      line-height: 28px;
      font-weight: 400px;
      color: rgb(208, 208, 208);
      padding: 8px 0;
    }
    .someInfo {
      padding: 8px 0;
      @include flexAlignCentre;

      flex-wrap: wrap;
      span {
        padding: 0 40px 0 4px;
      }
      .allGenres {
        @include flexAlignCentre;
        span {
          border: 2px solid #ff416c;
          padding: 8px 16px;
          margin: 8px;
          border-radius: 99px;
        }
      }
    }
    .playAddBtns {
      padding: 8px 0;
      @include flexAlignCentre;
      .watchbtn {
        @include flexAlignCentre;
        border: none;
        // color: white;
        font-size: 24px;
        padding: 4px;
        border-radius: 99px;
        margin-right: 20px;
        background: linear-gradient(90deg, #ff416c, #ff4b2b);
        span {
          color: white;
          font-weight: bold;
          padding: 0 20px 0 10px;
        }
      }
      .laterbtn {
        @include flexAlignCentre;
        color: #fff;
        border: none;
        font-size: 24px;
        padding: 4px;
        border-radius: 99px;
        margin-right: 20px;
        //   background: linear-gradient(90deg, #ff416c, #ff4b2b);
        background: none;
        span {
          // color: white;
          font-weight: bold;
          padding: 0 20px 0 10px;
        }
      }
    }
  }
}
